body {
    background-color: white;
}

* {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: rgb(90, 90, 220);
    height: 80px;
    position: relative;
    border-radius: 10px 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#menu {
    position: absolute;
    left: 20px;
    width: 65px;
    height: 65px;
    cursor: pointer;
}


h1 {
    color: white;
    font-size: 3rem;
    margin: 0;
}

h1 span {
    color: black;
    font-size: 4rem;
}


nav {
    overflow: hidden;
}

#night-mode {
    position: absolute;
    width: 100px;
    height: 100px;
    display: block;
    right: 10px;
    cursor: pointer;
}

.menu-aberto {
    background-color: rgb(65, 65, 224);
    color: white;
    width: 100%;
    max-height: 0;
    transition: max-height 0.4s ease;
}


.menu-aberto.active {
    max-height: 450px;
}

.menu-aberto ul {
    padding: 0;
    margin: 0;
}

.menu-aberto li {
    list-style: none;
    padding: 15px;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
}

.menu-aberto li:hover {

    transform: scale(0.99);
    transition: .3s ease-in-out;
    box-shadow: 1px 1px 1px 2px black;

    text-decoration: underline;
    cursor: pointer;
}

.banners img {
    display: none;
    opacity: 0%;
}

.banners img.active {

    display: flex;

    width: 1471px;
    left: -0.6%;
    right: 1%;
    height: 500px;
    object-fit: cover;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    opacity: 100%;
    transition: .3s ease-in-out;
}

.banners {
    background-color: rgb(0, 0, 0);

}

button {
    background-color: rgb(103, 103, 253);
    color: white;
    font-size: 2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    margin-right: 2px;
    width: 200px;
    left: 42%;
    right: 49%;



}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 400px;
    height: 200px;
    padding: 10px;
    position: relative;
    left: 18%;


}

section img {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-style: solid;
}

section img:hover {
    width: 400px;
    height: 500px;
    object-fit: cover;
    transition: .3s ease-in-out;
}